<main class="container new-container-size">

  <section class="pt-40">
    <div class="columns ">
      <div class="column">
        <h1 class="title" >إحصائيات مالية</h1>
      </div>
      <div class="column">
        <div class="level-right">
          Second column
        </div>
      </div>
    </div>
    <div class="columns is-centered is-multiline">
      <div class="column">
       <div class="data-stats border-light-blue has-background-white">
         <ul class="data-stats-blk">
           <li class="data-stats-icon">
             <img src="../assets/svg/Icon01.svg" alt="">
           </li>
           <li class="data-stats-cash has-text-weight-bold">120 JOD</li>
           <li class="data-stats-total">التكلفة الكلية للمقالات</li>
         </ul>
       </div>
      </div>
      <div class="column is-3-tablet-only">
        <div class="data-stats border-light-blue border-light-blue has-background-white">
          <ul class="data-stats-blk">
            <li class="data-stats-icon">
              <img src="../assets/svg/Icon02.svg" alt="">
            </li>
            <li class="data-stats-cash has-text-weight-bold">43 JOD</li>
            <li class="data-stats-total">كلفة نشر المقالات الجديدة</li>
          </ul>
        </div>
      </div>
      <div class="column is-3-tablet-only">
        <div class="data-stats border-light-blue has-background-white">
          <ul class="data-stats-blk">
            <li class="data-stats-icon">
              <img src="../assets/svg/Icon03.svg" alt="">
            </li>
            <li class="data-stats-cash has-text-weight-bold">3 JOD</li>
            <li class="data-stats-total">كلفة إثراء المقالات</li>
          </ul>
        </div>
      </div>
      <div class="column is-3-tablet-only">
        <div class="data-stats border-light-blue has-background-white">
          <ul class="data-stats-blk">
            <li class="data-stats-icon">
              <img src="../assets/svg/Icon04.svg" alt="">
            </li>
            <li class="data-stats-cash has-text-weight-bold">25 JOD</li>
            <li class="data-stats-total">التكلفة الكلية للمقالات
              بانتظار المراجعة</li>
          </ul>
        </div>
      </div>
      <div class="column is-3-tablet-only">
        <div class="data-stats border-light-blue has-background-white">
          <ul class="data-stats-blk">
            <li class="data-stats-icon">
              <img src="../assets/svg/Icon05.svg" alt="">
            </li>
            <li class="data-stats-cash has-text-weight-bold">23 JOD</li>
            <li class="data-stats-total">تكلفة نشر المقالات بانتظار
              المراجعة</li>
          </ul>
        </div>
      </div>
      <div class="column is-3-tablet-only">
        <div class="data-stats border-light-blue has-background-white">
          <ul class="data-stats-blk">
            <li class="data-stats-icon">
              <img src="../assets/svg/Icon06.svg" alt="">
            </li>
            <li class="data-stats-cash has-text-weight-bold">12 JOD</li>
            <li class="data-stats-total">تكلفة مقالات الإثراء
              بانتظار المراجعة</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-50">
    <div class="columns is-rounded">
      <div class="column">
        <h1 class="title" >إحصائيات المقالات</h1>
      </div>
    </div>
    <div class="columns data-list border-light-blue has-background-white">
      <div class="column">
        <div class="data-list-blk columns">
          <div class="column is-three-fifths">
            المجموع الكلي للمقالات المنجزة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
        <div class="data-list-blk columns">
          <div class="column is-three-fifths">
            مجموع المقالات المنشورة
          </div>
          <div class="column has-text-weight-bold">
            40 مقال
          </div>
        </div>
        <div class="data-list-blk columns">
          <div class="column is-three-fifths">
            مجموع المقالات المثرية
          </div>
          <div class="column has-text-weight-bold">
            16 مقال
          </div>
        </div>
      </div>
      <div class="column middle-bar">
        <div class="data-list-blk columns">
          <div class="column is-three-fifths">
            المجموع الكلي للمقالات بانتظار المراجعة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
        <div class="data-list-blk columns">
          <div class="column is-three-fifths">
            مجموع المقالات الجديدة بانتظار المراجعة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
        <div class="data-list-blk columns">
          <div class="column is-three-fifths">
            مجموع مقالات الإثراء بانتظار المراجعة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
      </div>
      <div class="column">
        <div class="data-list-blk columns">
          <div class="column is-three-quarters w-250">
            المجموع الكلي للمقالات المرفوضة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
        <div class="data-list-blk columns">
          <div class="column is-three-quarters w-250">
            مجموع المقالات الجديدة المرفوضة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
        <div class="data-list-blk columns">
          <div class="column is-three-quarters w-250">
            مجموع مقالات الإثراء المرفوضة
          </div>
          <div class="column has-text-weight-bold">
            3 مقالات
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-50">
    <div class="columns">
      <div class="column is-rounded">
        <div class="column">
          <h1 class="title" >إحصائيات العناوين</h1>
        </div>
        <div class="column">
          <div class="columns has-background-white border-light-blue py-10">
            <div class="column is-three-fifths">
              <div class="data-list-blk-2 columns">
                <div class="column is-three-quarters">
                  المجموع الكلي للعناوين المدرجة
                </div>
                <div class="column has-text-weight-bold">
                  14 عنوان
                </div>
              </div>
              <div class="data-list-blk-2 columns">
                <div class="column is-three-quarters">
                  المجموع الكلي للعناوين الجديدة المدرجة
                </div>
                <div class="column has-text-weight-bold">
                  67 عنوان
                </div>
              </div>
              <div class="data-list-blk-2 columns">
                <div class="column is-three-quarters">
                  المجموع الكلي لعناوين الإثراء المدرجة
                </div>
                <div class="column has-text-weight-bold">
                  15 عنوان
                </div>
              </div>
              <div class="data-list-blk-2 columns">
                <div class="column is-three-quarters">
                  مجموع العناوين الجديدة المتاحة للحجز
                </div>
                <div class="column has-text-weight-bold">
                  3 عناوين
                </div>
              </div>
              <div class="data-list-blk-2 columns">
                <div class="column is-three-quarters">
                  مجموع عناوين الإثراء المتاحة للحجز
                </div>
                <div class="column has-text-weight-bold">
                  18 عنوان
                </div>
              </div>
            </div>
            <div class="column is-two-fifths make-center">
              <div class="data-stats-icon is-flex is-horizontal-center">
                <img alt="" src="../assets/svg/Illustration.svg">

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="column is-rounded">
        <div class="column">
          <h1 class="title">إحصائيات عامة</h1>
        </div>
        <div class="columns">
          <div class="column">
            <div class="border-light-blue has-background-white">
              <div class="columns p-20">
                <div class="column make-center">
                  <div class="data-stats-icon is-flex is-horizontal-center">
                    <img src="../assets/svg/Team.svg" alt="">
                  </div>
                </div>
                <div class="column is-two-thirds">
                  <ul class="data-stats-blk">
                    <li class="data-stats-cash has-text-weight-bold rtl">4 مجموعات</li>
                    <li class="data-stats-total">عدد أعضاء فريق الإشراف</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>
          <div class="column">
            <div class="border-light-blue has-background-white">
              <div class="columns p-20">
                <div class="column make-center">
                  <div class="data-stats-icon is-flex is-horizontal-center">
                    <img src="../assets/svg/Levels.svg" alt="">
                  </div>
                </div>
                <div class="column is-two-thirds">
                  <ul class="data-stats-blk">
                    <li class="data-stats-cash has-text-weight-bold rtl">13 مستوى</li>
                    <li class="data-stats-total">عدد مستويات المقالات</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>
          </div>
        <div class="columns">
          <div class="column">
            <div class="border-light-blue has-background-white">
              <div class="columns p-20">
               <div class="column make-center">
                 <div class="data-stats-icon is-flex is-horizontal-center">
                   <img src="../assets/svg/Member01.svg" alt="">
                 </div>
               </div>
               <div class="column is-two-thirds">
                 <ul class="data-stats-blk">
                   <li class="data-stats-cash has-text-weight-bold rtl">42 عضو</li>
                   <li class="data-stats-total">عدد أعضاء فريق الإشراف</li>
                 </ul>
               </div>
              </div>

            </div>

          </div>
          <div class="column">
            <div class="border-light-blue has-background-white">
              <div class="columns p-20">
                <div class="column make-center">
                  <div class="data-stats-icon is-flex is-horizontal-center">
                    <img src="../assets/svg/Member02.svg" alt="">
                  </div>
                </div>
                <div class="column is-two-thirds">
                  <ul class="data-stats-blk">
                    <li class="data-stats-cash has-text-weight-bold rtl">5 اعضاء</li>
                    <li class="data-stats-total">عدد أعضاء فريق العمل</li>
                  </ul>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </section>

</main>
